#car {
    font-family: Arial;
  }
  #body {
      position: absolute;
      top: 50px;
      width: 70%;
      height: 100px;
      background-color: #18fa03;
      text-align: center;
  }
  #backwheel {
      position: absolute;
      left: 10%;
      top: 130px;
      background-color: #4a0afa;
      border: 3px solid rgb(253, 5, 5);
      border-radius: 50%;
      width: 40px;
      height: 40px;
  }
  #frontwheel {
      position: absolute;
      left: 50%;
      top: 130px;
      background-color: #3b07fa;
      border: 3px solid rgb(250, 3, 3);
      border-radius: 50%;
      width: 40px;
      height: 40px;
  }